#work-remaining .card-content {
  position: relative;
  text-align: center;

  #work-summary {
    font-size: 1.3em;
    margin: 0 31.5%;
    padding: 0;
    position: absolute;
    top: 44.5%;
    width: 32%;

    #status-icon {
      opacity: 0.18;

      #behind-schedule {
        font-size: 12rem;
        left: -10%;
        position: absolute;
      }

      #on-schedule {
        font-size: 13rem;
        left: -7%;
        top: 2%;
        position: absolute;
      }
    }
  }
}
