.card {
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #a9b3b5;
  margin: 20px 0;

  .card-content {
    padding: 10px;
  }

  .card-header {
    @include title-font;
    background-color: #31849a;
    color: white;
    min-height: 16px;
    padding: 1em;
  }
}
