#bugs-by-status .card-content { padding-left: 0; }
.nv-legend-text {
  font-family: $default-font;
  font-size: 14px;
}

.nvtooltip {
    border: 1px solid $teal;
    font-family: $default_font;
    padding: 0;

  h3 {
    background-color: $darkest-teal;
    border-radius: 0px !important;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }
}
