@mixin base-font {
  font-family: $default-font;
  @include fontsize(14);
  line-height: 1.8;
}

@mixin fontsize($size) {
  font-size: $size * 1px;
  font-size: $size * 0.1rem;
}

@mixin title-font {
  font-family: $title-font;
  @include fontsize(13);
  letter-spacing: .1rem;
  line-height: 1.8;
  text-transform: uppercase;
}
