<template name="ticketList">
  <table class="table table-striped table-condensed">
    <p>{{ ticketList }}</p>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
        {{ #unless excludePoints }}
          <th>Story Points</th>
        {{ /unless }}
        {{ #if showLoggedTime }}
          <th>Logged Time</th>
        {{ /if }}
      </tr>
    </thead>
    <tbody>
      {{ #each tickets }}
      <tr>
        <td>{{ id }}</td>
        <td>{{ type }}</td>
        <td>{{ title }}</td>
        <td>{{ priority }}</td>
        <td>{{ status }}</td>
        {{ #unless excludePoints }}
          <td>{{ points }}</td>
        {{ /unless }}
        {{ #if showLoggedTime }}
          <td>{{ timespent }}</td>
        {{ /if }}
      </tr>
      {{ /each }}
    </tbody>
  </table>
</template>
