<template name="header">
  <div class="container">
    <h1>
      k
      <img src="/logo-triangle.png" height="29px" width="30px"/>
      nburn
    </h1>
    <div id="navigation" class="text-right">
      {{ #if onHomepage }}
        <a href="/admin">Admin</a>
      {{ else }}
        <a href="/">Home</a>
      {{ /if }}
    </div>
    <div id="release-information" class="float-right">
      <div class="labels">
        Current Release:<br/>
        Code Freeze:
      </div>
      <div class="values">
        {{ releaseVersion }}<br/>
        {{ releaseDate }}
      </div>
    </div>
  </div>
</template>
