<template name="home">
  <div>
    <a href="/admin">Admin</a>
  </div>
  <div class="btn-group" data-toggle="buttons-radio">
    <button type="radio" class="btn active" name="squad" value="Front End" checked="checked">Front End</button>
    <button type="radio" class="btn" name="squad" value="Platform">Platform</button>
  </div>

  <div>
    <p>Days Remaining - {{ daysRemaining }}</p>
    <p>
      Est. Completion Date - {{ completionDate }}
      {{ #if onSchedule }}
        <i class="icon fa fa-check-circle"></i>
      {{ else }}
        <i class=" icon fa fa-exclamation-triangle"></i>
      {{ /if }}
    </p>
  </div>

  <div id="bug-chart">
    <h3>Open Defects, by Priority</h3>
    <svg></svg>
  </div>

  <div>
    <h3>Critical Defects</h3>
    {{> ticketList tickets=criticalBugs}}
  </div>

  <div>
    <h3>Tickets Without Estimates</h3>
    {{> ticketList tickets=withoutEstimate}}
  </div>

  <div>
    <h3>Tickets Without Components</h3>
    {{> ticketList tickets=withoutComponent}}
  </div>
</template>
