<template name="home">
  {{> squadToggle }}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div id="work-remaining" class="card">
          <div class="card-header">
            Estimate (days), by Status
          </div>
          <div class="card-content">
            <div>
              <h3>
                <strong>Est. Completion Date:</strong><br>
                {{ completionDate }}
              </h3>
            </div>
            <div id="work-summary">
              <div id="status-icon">
                {{ #if onSchedule }}
                  <i id="on-schedule" class="icon fa fa-check-circle"></i>
                {{ else }}
                  <i id="behind-schedule" class=" icon fa fa-exclamation-triangle"></i>
                {{ /if }}
              </div>
              <label>Completed</label>
              <br>
              <span>{{ daysCompleted }}</span>
              <br>
              <label>Remaining</label>
              <br>
              <span>{{ daysRemaining }}</span>
            </div>
            <div id="work-chart">
              <svg></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          {{ #if thereAreBugs }}
            <div id="bug-chart">
              <div class="card-header">
                Open Defects, by Priority
              </div>
              <div class="card-content">
                <svg></svg>
              </div>
            </div>
          {{ /if }}
        </div>
      </div>
    </div>

    <div class="row">
      {{ #if thereAreCriticalBugs }}
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Critical Defects
            </div>
            <div class="card-content">
              {{> ticketList tickets=criticalBugs excludePoints=true}}
            </div>
          </div>
        </div>
      {{ /if }}

      {{ #if thereAreTicketsWithoutEstimates }}
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Tickets Without Estimates
            </div>
            <div class="card-content">
              {{> ticketList tickets=withoutEstimate excludePoints=true}}
            </div>
          </div>
        </div>
      {{ /if }}

      {{ #if thereAreTicketsWithoutComponents }}
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Tickets Without Components
            </div>
            <div class="card-content">
              {{> ticketList tickets=withoutComponent }}
            </div>
          </div>
        </div>
      {{ /if }}
    </div>
  </div>
</template>
